.card img{
  scale: 0.6;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #C4C7C5 #303030;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #303030;
}

*::-webkit-scrollbar-thumb {
  background-color: #C4C7C5;
  border-radius: 20px;
  border: 3px solid #303030;
}