{
  "openapi": "3.0.3",
  "info": {
    "title": "urlDNA API",
    "version": "1.0.0",
    "description": "API documentation for urlDNA"
  },
  "servers": [
    {
      "url": "https://api.urldna.io",
      "description": "Base endpoint"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    },
    "schemas": {
      "Scan": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "submitted_url": { "type": "string" },
          "domain": { "type": "string" },
          "target_url": { "type": "string" },
          "protocol": { "type": "string" },
          "device": {
            "type": "string",
            "enum": ["DESKTOP", "MOBILE"]
          },
          "user_agent": { "type": "string" },
          "nsfw": { "type": "boolean" },
          "scanned_from": {
            "type": "string",
            "enum": ["DEFAULT", "AU", "BE", "CA", "CH", "DE", "ES", "FR", "GB", "GR", "HU", "ID", "IT", "JP", "MX", "NL", "PT", "ZA", "TR", "US"]
          },
          "origin": {
            "type": "string",
            "enum": ["API", "USER"]
          },
          "width": { "type": "number" },
          "height": { "type": "number" },
          "private_scan": { "type": "boolean" },
          "status": {
            "type": "string",
            "enum": ["PENDING", "RUNNING", "DONE", "ERROR"]
          },
          "submitted_date": { "type": "string", "format": "date-time" },
          "start_date": { "type": "string", "format": "date-time" },
          "end_date": { "type": "string", "format": "date-time" },
          "elapsed_time": { "type": "number" },
          "submitter_tags": {
            "type": "array",
            "items": { "type": "string" }
          }
        }
      },
      "ScanResult": {
        "type": "object",
        "properties": {
          "certificate": { "type": "object" },
          "console_messages": {
            "type": "array",
            "items": { "type": "object" }
          },
          "cookies": {
            "type": "array",
            "items": { "type": "object" }
          },
          "dom": { "type": "string" },
          "favicon": { "type": "object" },
          "http_transactions": {
            "type": "array",
            "items": { "type": "object" }
          },
          "ip_address": { "type": "object" },
          "malicious": { "type": "object" },
          "page": { "type": "object" },
          "scan": { "$ref": "#/components/schemas/Scan" },
          "scan_feedback": { "type": "object" },
          "scan_whois": { "type": "object" },
          "screenshot": { "type": "string" },
          "technologies": {
            "type": "array",
            "items": { "type": "object" }
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/scan/{id}": {
      "get": {
        "summary": "Get Scan Result",
        "description": "Retrieve information about a specific scan",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scan result retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanResult"
                }
              }
            }
          }
        }
      }
    },
    "/scan": {
      "post": {
        "summary": "Submit a New Scan",
        "description": "Submit a new scan request",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "submitted_url": { "type": "string" },
                  "scanned_from": {
                    "type": "string",
                    "default": "DEFAULT"
                  },
                  "device": {
                    "type": "string",
                    "enum": ["DESKTOP", "MOBILE"],
                    "default": "DESKTOP"
                  },
                  "user_agent": { "type": "string" },
                  "width": { "type": "integer", "default": 1920 },
                  "height": { "type": "integer", "default": 1080 },
                  "waiting_time": { "type": "integer", "default": 5 },
                  "private_scan": { "type": "boolean", "default": false }
                },
                "required": ["submitted_url"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Scan created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Scan"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "post": {
        "summary": "Search Scans",
        "description": "Search for existing scans using query or CQL",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": { "type": "string" }
                },
                "required": ["query"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Scan"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fast-check": {
      "post": {
        "summary": "Fast Check URL",
        "description": "Check if a URL is CLEAN or MALICIOUS",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": { "type": "string" }
                },
                "required": ["url"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fast check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "malicious_score": { "type": "number" },
                    "status": {
                      "type": "string",
                      "enum": ["CLEAN", "MALICIOUS", "UNRATED"]
                    },
                    "url": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user-agents": {
      "get": {
        "summary": "Get User Agents",
        "description": "Retrieve a list of available user agents",
        "responses": {
          "200": {
            "description": "List of user agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "browser": { "type": "string" },
                      "device": {
                        "type": "string",
                        "enum": ["DESKTOP", "MOBILE"]
                      },
                      "share": { "type": "number" },
                      "user_agent": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/viewports": {
      "get": {
        "summary": "Get Viewports",
        "description": "Retrieve a list of available viewports",
        "responses": {
          "200": {
            "description": "List of viewports",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "device": {
                        "type": "string",
                        "enum": ["DESKTOP", "MOBILE"]
                      },
                      "height": { "type": "number" },
                      "width": { "type": "number" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
