{
  "openapi": "3.1.0",
  "info": {
    "title": "urlDNA API",
    "description": "urlDNA API documentation. This API allows you to scan, analyze, and retrieve insights about URLs, helping to detect potential threats such as phishing, malware, and scams.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.urldna.io"
    }
  ],
  "paths": {
    "/v1/scan/{scan_id}": {
      "get": {
        "tags": [
          "Scan"
        ],
        "summary": "Get Scan",
        "description": "Fetches complete scan results for a specific scan ID. \n    Returns scan metadata immediately; full results (certificate, screenshot, etc.) are available once status is DONE. \n    Scans in PENDING or RUNNING states return metadata only.",
        "operationId": "get_scan_v1_scan__scan_id__get",
        "parameters": [
          {
            "name": "scan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Scan Id"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API Key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found: Object not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed: The requested HTTP method is not supported for this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity: The request body or parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests: Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error: An unexpected error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/scan": {
      "post": {
        "tags": [
          "Scan"
        ],
        "summary": "Create scan",
        "description": "Initiates a new URL scan with customizable parameters. \n    Returns a Scan object immediately with status PENDING. \n    Processing typically completes within 30-60 seconds depending on system load. \n    Poll the GET /v1/scan/ endpoint to retrieve full results once status is DONE.",
        "operationId": "create_scan_v1_scan_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Scan"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API Key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: You do not have permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed: The requested HTTP method is not supported for this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests: Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error: An unexpected error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/search": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Search",
        "description": "Searches the scan database using query strings or CQL (Custom Query Language). \n    Returns matching scans sorted by submission date descending. \n    Supports complex filtering across multiple scan attributes. See documentation for CQL syntax details.",
        "operationId": "search_v1_search_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Scan"
                  },
                  "title": "Response Search V1 Search Post"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API Key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed: The requested HTTP method is not supported for this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity: The request body or parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests: Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error: An unexpected error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fast-check": {
      "post": {
        "tags": [
          "Fast Check"
        ],
        "summary": "Post fast check",
        "description": "Quickly assesses URL safety without performing a full scan. \n    Returns malicious score and classification (SAFE, MALICIOUS, or UNRATED) based on existing intelligence and heuristics. Ideal for real-time URL validation.",
        "operationId": "fast_check_v1_fast_check_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FastCheckRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FastCheck"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API Key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed: The requested HTTP method is not supported for this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity: The request body or parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests: Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error: An unexpected error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/viewports": {
      "get": {
        "tags": [
          "Viewports"
        ],
        "summary": "List viewports",
        "description": "Returns recommended viewport dimensions for both desktop and mobile scans. \n    Use these dimensions to ensure consistent rendering across scans and match common device resolutions.",
        "operationId": "viewports_v1_viewports_get",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Viewport"
                  },
                  "title": "Response Viewports V1 Viewports Get"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API Key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed: The requested HTTP method is not supported for this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests: Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error: An unexpected error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/user-agents": {
      "get": {
        "tags": [
          "User Agents"
        ],
        "summary": "List user agents",
        "description": "Returns a curated list of user agent strings that can be used when submitting scans. \n    Each user agent includes browser type, device category, and market share data to help select realistic scanning profiles.",
        "operationId": "user_agents_v1_user_agents_get",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserAgent"
                  },
                  "title": "Response User Agents V1 User Agents Get"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API Key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed: The requested HTTP method is not supported for this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests: Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error: An unexpected error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/queries": {
      "get": {
        "tags": [
          "My Queries"
        ],
        "summary": "Queries",
        "description": "Retrieves all saved query objects for the authenticated user. Queries encapsulate reusable filter combinations for consistent scan searching.",
        "operationId": "get_queries_v1_queries_get",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Query"
                  },
                  "title": "Response Get Queries V1 Queries Get"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API Key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed: The requested HTTP method is not supported for this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests: Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error: An unexpected error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/query/{query_id}": {
      "get": {
        "tags": [
          "My Queries"
        ],
        "summary": "Get Query",
        "description": "Retrieves complete details for a specific saved query including all filter conditions.",
        "operationId": "update_query_v1_query__query_id__get",
        "parameters": [
          {
            "name": "query_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Query Id"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Query"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API Key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found: Object not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed: The requested HTTP method is not supported for this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests: Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error: An unexpected error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "My Queries"
        ],
        "summary": "Update Query",
        "description": "Update the name or filters of an existing saved query.",
        "operationId": "update_query_v1_query__query_id__put",
        "parameters": [
          {
            "name": "query_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Query Id"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EdiQueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Query"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API Key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found: Object not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed: The requested HTTP method is not supported for this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity: The request body or parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests: Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error: An unexpected error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "My Queries"
        ],
        "summary": "Delete Query",
        "description": "Permanently deletes a saved query. This operation cannot be undone.",
        "operationId": "delete_query_v1_query__query_id__delete",
        "parameters": [
          {
            "name": "query_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Query Id"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {

                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API Key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed: The requested HTTP method is not supported for this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests: Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error: An unexpected error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/query": {
      "post": {
        "tags": [
          "My Queries"
        ],
        "summary": "Create Query",
        "description": "Creates a new saved query with custom filter conditions. Queries enable complex, reusable searches across scan attributes using logical AND combinations of filters.",
        "operationId": "create_query_v1_query_post",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewQueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Query"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API Key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed: The requested HTTP method is not supported for this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity: The request body or parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests: Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error: An unexpected error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/query/{query_id}/scans": {
      "get": {
        "tags": [
          "My Queries"
        ],
        "summary": "Query Scans",
        "description": "Executes a saved query and returns all matching scans sorted by submission date descending. Applies all filter conditions defined in the query.",
        "operationId": "get_query_scans_v1_query__query_id__scans_get",
        "parameters": [
          {
            "name": "query_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Query Id"
            }
          },
          {
            "name": "max_results",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 32,
              "minimum": 1,
              "description": "Maximun number of scans retreived per page",
              "default": 32,
              "title": "Max Results"
            },
            "description": "Maximun number of scans retreived per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number for pagination (1-indexed). Pages beyond the first are accessible to PREMIUM users only.",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number for pagination (1-indexed). Pages beyond the first are accessible to PREMIUM users only."
          },
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Scan"
                  },
                  "title": "Response Get Query Scans V1 Query  Query Id  Scans Get"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API Key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found: Object not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed: The requested HTTP method is not supported for this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests: Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error: An unexpected error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brands": {
      "get": {
        "tags": [
          "Brand Monitoring"
        ],
        "summary": "Brands",
        "description": "Retrieves brands available to the user for monitoring brand-related scans. Supports filtering by visibility level and searching by name.",
        "operationId": "index_v1_brands_get",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Search query to filter brands.",
              "title": "Query"
            },
            "description": "Search query to filter brands."
          },
          {
            "name": "max_results",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 20,
              "minimum": 1,
              "description": "Maximun number of brands retreived per page",
              "default": 20,
              "title": "Max Results"
            },
            "description": "Maximun number of brands retreived per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number for pagination (1-indexed).",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number for pagination (1-indexed)."
          },
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Brand"
                  },
                  "title": "Response Index V1 Brands Get"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API Key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found: Object not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed: The requested HTTP method is not supported for this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity: The request body or parameters are invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests: Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error: An unexpected error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brand/{brand_id}": {
      "get": {
        "tags": [
          "Brand Monitoring"
        ],
        "summary": "Get Brand",
        "description": "Retrieve detailed information about a specific brand.",
        "operationId": "get_brand_v1_brand__brand_id__get",
        "parameters": [
          {
            "name": "brand_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Brand Id"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Brand"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API Key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found: Object not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed: The requested HTTP method is not supported for this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests: Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error: An unexpected error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brand/{brand_id}/scans": {
      "get": {
        "tags": [
          "Brand Monitoring"
        ],
        "summary": "Brand Scans",
        "description": "Retrieves all scans associated with a specific brand. Supports additional CQL filtering to narrow results. Returns scans sorted by submission date descending.",
        "operationId": "get_brand_scans_v1_brand__brand_id__scans_get",
        "parameters": [
          {
            "name": "brand_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Brand Id"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "CQL query for filter scans for related brand.",
              "title": "Query"
            },
            "description": "CQL query for filter scans for related brand."
          },
          {
            "name": "max_results",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 32,
              "minimum": 1,
              "description": "Maximun number of scans retreived per page",
              "default": 32,
              "title": "Max Results"
            },
            "description": "Maximun number of scans retreived per page"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number for pagination (1-indexed). Pages beyond the first are accessible to PREMIUM users only.",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number for pagination (1-indexed). Pages beyond the first are accessible to PREMIUM users only."
          },
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Scan"
                  },
                  "title": "Response Get Brand Scans V1 Brand  Brand Id  Scans Get"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API Key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: You do not have permission to access this resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found: Object not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed: The requested HTTP method is not supported for this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests: Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error: An unexpected error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/user": {
      "get": {
        "tags": [
          "User Account"
        ],
        "summary": "Get user",
        "description": "Returns the authenticated user.",
        "operationId": "get_usage_v1_user_get",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API Key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed: The requested HTTP method is not supported for this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests: Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error: An unexpected error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/user/usage": {
      "get": {
        "tags": [
          "User Account"
        ],
        "summary": "Get API Usage",
        "description": "Returns the authenticated user's daily API quota limit, current consumption, and remaining requests.",
        "operationId": "get_usage_v1_user_usage_get",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiQuotaUsage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: API Key is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed: The requested HTTP method is not supported for this endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests: Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error: An unexpected error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "APIError": {
        "properties": {
          "detail": {
            "type": "string",
            "title": "Detail",
            "example": "Error description message"
          }
        },
        "type": "object",
        "required": [
          "detail"
        ],
        "title": "APIError"
      },
      "ApiQuotaUsage": {
        "properties": {
          "daily_quota_limit": {
            "type": "integer",
            "title": "Daily Quota Limit",
            "description": "Maximum number of API requests allowed per 24-hour period."
          },
          "quota": {
            "type": "integer",
            "title": "Quota",
            "description": "Total number of API requests consumed in the current period."
          },
          "remaining": {
            "type": "integer",
            "title": "Remaining",
            "description": "Number of requests remaining before the limit is reached."
          }
        },
        "type": "object",
        "required": [
          "daily_quota_limit",
          "quota",
          "remaining"
        ],
        "title": "ApiQuotaUsage"
      },
      "Brand": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Unique brand identifier."
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "The official name of the brand."
          },
          "private_brand": {
            "type": "boolean",
            "title": "Private Brand",
            "description": "When true, brand is visible only to the creating user."
          },
          "visibility": {
            "$ref": "#/components/schemas/BrandVisibility",
            "description": "Defines the access level of the brand data. 'PREMIUM' brands require a subscription to access full intelligence, while 'FREE' brands are publicly available."
          },
          "category": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Category",
            "description": "The industry sector or vertical the brand belongs to. This is a generic classification such as 'Retail & E-commerce', 'FinTech, Crypto & Blockchain', or 'Technology & Telecom'."
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "private_brand",
          "visibility"
        ],
        "title": "Brand"
      },
      "BrandVisibility": {
        "type": "string",
        "enum": [
          "PREMIUM",
          "FREE"
        ],
        "title": "BrandVisibility"
      },
      "Certificate": {
        "properties": {
          "authority_info_access": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Authority Info Access",
            "description": "URLs for accessing Certificate Authority services (OCSP responder and CA issuer locations)."
          },
          "authority_key_identifier": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Authority Key Identifier",
            "description": "Unique identifier for the issuing CA's public key, used for certificate chain validation."
          },
          "basic_constraints": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Basic Constraints",
            "description": "Indicates CA status and maximum certificate chain depth allowed."
          },
          "certificate_policies": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Certificate Policies",
            "description": "Certificate usage policies with references to policy documentation URLs."
          },
          "ct_precert_scts": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ct Precert Scts",
            "description": "Signed Certificate Timestamps (SCTs) from Certificate Transparency logs for public audit trail."
          },
          "extended_key_usage": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Extended Key Usage",
            "description": "Permitted uses for the certificate (e.g., server authentication, code signing)."
          },
          "issuer": {
            "type": "string",
            "title": "Issuer",
            "description": "Distinguished Name (DN) of the Certificate Authority that issued this certificate."
          },
          "key_usage": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Key Usage",
            "description": "Cryptographic operations permitted for this certificate's key pair (e.g., digital signature, key encipherment)."
          },
          "not_after": {
            "type": "string",
            "title": "Not After",
            "description": "Certificate expiration timestamp after which the certificate is no longer valid."
          },
          "not_before": {
            "type": "string",
            "title": "Not Before",
            "description": "Certificate validity start timestamp."
          },
          "serial_number": {
            "type": "string",
            "title": "Serial Number",
            "description": "Unique serial number assigned by the issuing CA."
          },
          "subject": {
            "type": "string",
            "title": "Subject",
            "description": "Distinguished Name (DN) of the entity for which the certificate was issued."
          },
          "subject_key_identifier": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Subject Key Identifier",
            "description": "Unique identifier for the certificate's public key, facilitating key management."
          },
          "version": {
            "type": "integer",
            "title": "Version",
            "description": "X.509 certificate version number (typically 1, 2, or 3)."
          }
        },
        "type": "object",
        "required": [
          "issuer",
          "not_after",
          "not_before",
          "serial_number",
          "subject",
          "version"
        ],
        "title": "Certificate"
      },
      "Classification": {
        "properties": {
          "verdict": {
            "type": "string",
            "title": "Verdict",
            "description": "The final classification verdict. SAFE indicates that no threats were detected, while MALICIOUS indicates that the AI engine identified potentially harmful content."
          }
        },
        "type": "object",
        "required": [
          "verdict"
        ],
        "title": "Classification"
      },
      "ConsoleMessage": {
        "properties": {
          "text": {
            "type": "string",
            "title": "Text",
            "description": "Complete message text logged to the console."
          },
          "type": {
            "type": "string",
            "title": "Type",
            "description": "Console message severity level (log, error, warn, info)."
          }
        },
        "type": "object",
        "required": [
          "text",
          "type"
        ],
        "title": "ConsoleMessage"
      },
      "Cookie": {
        "properties": {
          "domain": {
            "type": "string",
            "title": "Domain",
            "description": "Domain scope for which the cookie is valid."
          },
          "expiry": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expiry",
            "description": "Cookie expiration timestamp in UTC format."
          },
          "http_only": {
            "type": "boolean",
            "title": "Http Only",
            "description": "When true, cookie is inaccessible to JavaScript, mitigating XSS attacks."
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Cookie identifier name."
          },
          "path": {
            "type": "string",
            "title": "Path",
            "description": "URL path scope within the domain where the cookie applies."
          },
          "secure": {
            "type": "boolean",
            "title": "Secure",
            "description": "When true, cookie is transmitted only over HTTPS connections."
          },
          "value": {
            "type": "string",
            "title": "Value",
            "description": "Cookie value data."
          }
        },
        "type": "object",
        "required": [
          "domain",
          "http_only",
          "name",
          "path",
          "secure",
          "value"
        ],
        "title": "Cookie"
      },
      "DeviceEnum": {
        "type": "string",
        "enum": [
          "DESKTOP",
          "MOBILE"
        ],
        "title": "DeviceEnum"
      },
      "EdiQueryRequest": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Updated query name."
          },
          "query_filters": {
            "items": {
              "$ref": "#/components/schemas/QueryFilter"
            },
            "type": "array",
            "title": "Query Filters",
            "description": "Updated array of filter conditions."
          }
        },
        "type": "object",
        "required": [
          "name",
          "query_filters"
        ],
        "title": "EdiQueryRequest"
      },
      "FastCheck": {
        "properties": {
          "malicious_score": {
            "type": "number",
            "title": "Malicious Score",
            "description": "Numerical score (0-1) indicating likelihood of malicious intent. Higher values indicate greater risk."
          },
          "url": {
            "type": "string",
            "title": "Url",
            "description": "The URL that was checked."
          },
          "scan_id": {
            "type": "string",
            "title": "Scan Id",
            "description": "Scan ID associated with the checked URL. This attribute is omitted if the URL is not present in the system."
          },
          "status": {
            "$ref": "#/components/schemas/FastCheckStatusEnum",
            "description": "URL classification: SAFE (verified benign), MALICIOUS (threat detected), UNRATED (insufficient data)."
          }
        },
        "type": "object",
        "required": [
          "malicious_score",
          "url",
          "status"
        ],
        "title": "FastCheck"
      },
      "FastCheckRequest": {
        "properties": {
          "url": {
            "type": "string",
            "maxLength": 500,
            "minLength": 10,
            "format": "uri",
            "title": "Url"
          }
        },
        "type": "object",
        "required": [
          "url"
        ],
        "title": "FastCheckRequest"
      },
      "FastCheckStatusEnum": {
        "type": "string",
        "enum": [
          "SAFE",
          "MALICIOUS",
          "UNRATED"
        ],
        "title": "FastCheckStatusEnum"
      },
      "Favicon": {
        "properties": {
          "blob_uri": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Blob Uri",
            "description": "Temporary URI for accessing the favicon image (30-minute TTL)."
          },
          "format": {
            "type": "string",
            "title": "Format",
            "description": "Detected image format (e.g., ico, png, svg)."
          },
          "height": {
            "type": "integer",
            "title": "Height",
            "description": "Favicon height in pixels."
          },
          "mimetype": {
            "type": "string",
            "title": "Mimetype",
            "description": "MIME type of the favicon (e.g., image/x-icon, image/png)."
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "Favicon filename if available."
          },
          "phash": {
            "type": "string",
            "title": "Phash",
            "description": "Perceptual hash (pHash) for identifying visually similar favicons across different scans."
          },
          "url": {
            "type": "string",
            "title": "Url",
            "description": "Complete URL of the favicon resource."
          },
          "width": {
            "type": "integer",
            "title": "Width",
            "description": "Favicon width in pixels."
          }
        },
        "type": "object",
        "required": [
          "format",
          "height",
          "mimetype",
          "phash",
          "url",
          "width"
        ],
        "title": "Favicon"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "HttpTransaction": {
        "properties": {
          "content_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content Type",
            "description": "Content-Type header value from the HTTP response (e.g., text/html, application/json)."
          },
          "ip": {
            "type": "string",
            "title": "Ip",
            "description": "IP address of the server that responded to the request."
          },
          "method": {
            "type": "string",
            "title": "Method",
            "description": "HTTP method used for the request (GET, POST, HEAD, etc.)."
          },
          "mimetypes": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Mimetypes",
            "description": "MIME types associated with the response content."
          },
          "size": {
            "type": "integer",
            "title": "Size",
            "description": "Response body size in bytes."
          },
          "status_code": {
            "type": "integer",
            "title": "Status Code",
            "description": "HTTP status code returned (e.g., 200 for OK, 404 for Not Found, 301 for redirect)."
          },
          "url": {
            "type": "string",
            "title": "Url",
            "description": "Complete URL of the requested resource."
          }
        },
        "type": "object",
        "required": [
          "ip",
          "method",
          "size",
          "status_code",
          "url"
        ],
        "title": "HttpTransaction"
      },
      "IpAddress": {
        "properties": {
          "asn": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Asn",
            "description": "Autonomous System Number (ASN) identifying the network operator."
          },
          "city": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "City",
            "description": "City location of the IP address."
          },
          "country": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Country",
            "description": "Country where the IP address is registered."
          },
          "country_code": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Country Code",
            "description": "Two-letter ISO 3166-1 alpha-2 country code."
          },
          "ip": {
            "type": "string",
            "title": "Ip",
            "description": "IP address being analyzed."
          },
          "isp": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Isp",
            "description": "Internet Service Provider managing this IP address."
          },
          "latitude": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Latitude",
            "description": "Approximate latitude coordinate of the IP location."
          },
          "longitude": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Longitude",
            "description": "Approximate longitude coordinate of the IP location."
          },
          "org": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Org",
            "description": "Organization that owns or manages the IP address."
          },
          "region": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Region",
            "description": "State or region where the IP address is located."
          },
          "timezone_gmt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Timezone Gmt",
            "description": "Time zone offset in GMT format."
          },
          "type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Type",
            "description": "IP address classification (e.g., residential, corporate, cloud provider, hosting)."
          }
        },
        "type": "object",
        "required": [
          "ip"
        ],
        "title": "IpAddress"
      },
      "NewQueryRequest": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Descriptive name for identifying the query."
          },
          "query_filters": {
            "items": {
              "$ref": "#/components/schemas/QueryFilter"
            },
            "type": "array",
            "title": "Query Filters",
            "description": "Array of filter conditions. All filters are combined with logical AND."
          }
        },
        "type": "object",
        "required": [
          "name",
          "query_filters"
        ],
        "title": "NewQueryRequest"
      },
      "OriginEnum": {
        "type": "string",
        "enum": [
          "USER",
          "API",
          "TELEGRAM"
        ],
        "title": "OriginEnum"
      },
      "Page": {
        "properties": {
          "headers": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object",
            "title": "Headers",
            "description": "HTTP response headers returned by the server."
          },
          "meta_tags": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object",
            "title": "Meta Tags",
            "description": "HTML meta tags extracted from the document head section."
          },
          "outgoing_links": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Outgoing Links",
            "description": "Array of URLs linked from the scanned page, useful for mapping site structure.",
            "default": []
          },
          "ssdeep": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ssdeep",
            "description": "SSDEEP fuzzy hash for detecting similar or modified page content."
          },
          "text": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Text",
            "description": "Extracted plaintext content from the webpage, with HTML markup removed."
          },
          "title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Title",
            "description": "Page title extracted from the HTML \u003Ctitle\u003E tag."
          }
        },
        "type": "object",
        "required": [
          "headers",
          "meta_tags"
        ],
        "title": "Page"
      },
      "Query": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Unique query identifier."
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "User-defined query name for easy identification."
          },
          "query_filters": {
            "items": {
              "$ref": "#/components/schemas/QueryFilter"
            },
            "type": "array",
            "title": "Query Filters",
            "description": "Array of filter conditions combined with logical AND."
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "query_filters"
        ],
        "title": "Query"
      },
      "QueryFilter": {
        "properties": {
          "attribute": {
            "type": "string",
            "title": "Attribute",
            "description": "Searchable attribute field (e.g., domain, ip, country_code, technology)."
          },
          "operator": {
            "$ref": "#/components/schemas/QueryOperatorEnum",
            "description": "Comparison operator: '=' and '!=' for exact matching; 'LIKE' and '!LIKE' for partial/wildcard matching."
          },
          "value": {
            "type": "string",
            "title": "Value",
            "description": "Value to match against the specified attribute."
          }
        },
        "type": "object",
        "required": [
          "attribute",
          "operator",
          "value"
        ],
        "title": "QueryFilter"
      },
      "QueryOperatorEnum": {
        "type": "string",
        "enum": [
          "=",
          "!=",
          "LIKE",
          "!LIKE"
        ],
        "title": "QueryOperatorEnum"
      },
      "RedirectChain": {
        "properties": {
          "redirect_url": {
            "type": "string",
            "title": "Redirect Url",
            "description": "Intermediate URL in the redirect chain."
          },
          "status": {
            "type": "string",
            "title": "Status",
            "description": "HTTP status code for this redirect hop."
          },
          "elapsed_time": {
            "type": "number",
            "title": "Elapsed Time",
            "description": "Time duration in milliseconds for this redirect hop."
          }
        },
        "type": "object",
        "required": [
          "redirect_url",
          "status",
          "elapsed_time"
        ],
        "title": "RedirectChain"
      },
      "Scan": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Unique auto-generated scan identifier."
          },
          "submitted_url": {
            "type": "string",
            "title": "Submitted Url",
            "description": "Original URL submitted for scanning."
          },
          "domain": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Domain",
            "description": "Extracted domain from the submitted URL."
          },
          "target_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Target Url",
            "description": "Final destination URL after following all redirects."
          },
          "protocol": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Protocol",
            "description": "Protocol used (HTTP or HTTPS)."
          },
          "device": {
            "$ref": "#/components/schemas/DeviceEnum",
            "description": "Device type used for the scan simulation (DESKTOP or MOBILE)."
          },
          "user_agent": {
            "type": "string",
            "title": "User Agent",
            "description": "User agent string used to simulate the browser environment."
          },
          "http_referer": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Http Referer",
            "description": "HTTP Referer header value indicating the originating page for the request."
          },
          "nsfw": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Nsfw",
            "description": "Indicates whether the page contains Not Safe For Work (NSFW) content such as nudity or adult material.",
            "default": false
          },
          "scanned_from": {
            "type": "string",
            "title": "Scanned From",
            "description": "Country code from which the scan was initiated. Available for PREMIUM users only."
          },
          "origin": {
            "$ref": "#/components/schemas/OriginEnum",
            "description": "Indicates whether the scan was submitted programmatically via API or manually by a user."
          },
          "width": {
            "type": "integer",
            "title": "Width",
            "description": "Viewport width in pixels used during the scan."
          },
          "height": {
            "type": "integer",
            "title": "Height",
            "description": "Viewport height in pixels used during the scan."
          },
          "private_scan": {
            "type": "boolean",
            "title": "Private Scan",
            "description": "When true, scan results are only accessible to the submitting user."
          },
          "status": {
            "$ref": "#/components/schemas/StatusEnum",
            "description": "Current scan status. PENDING and RUNNING are transient states; DONE and ERROR are terminal states."
          },
          "submitted_date": {
            "type": "string",
            "format": "date-time",
            "title": "Submitted Date",
            "description": "ISO 8601 timestamp when the scan was submitted."
          },
          "submitter_tags": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Submitter Tags",
            "description": "User-defined tags for organizing and categorizing scans."
          },
          "error_code": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error Code",
            "description": "Error code when scan status is ERROR, indicating the reason for failure."
          }
        },
        "type": "object",
        "required": [
          "id",
          "submitted_url",
          "device",
          "user_agent",
          "scanned_from",
          "origin",
          "width",
          "height",
          "private_scan",
          "status",
          "submitted_date"
        ],
        "title": "Scan"
      },
      "ScanRequest": {
        "properties": {
          "submitted_url": {
            "type": "string",
            "title": "Submitted Url"
          },
          "device": {
            "$ref": "#/components/schemas/DeviceEnum",
            "default": "DESKTOP"
          },
          "user_agent": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "User Agent"
          },
          "http_referer": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Http Referer"
          },
          "width": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Width"
          },
          "height": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Height"
          },
          "waiting_time": {
            "type": "integer",
            "maximum": 15,
            "minimum": 3,
            "title": "Waiting Time",
            "default": 5
          },
          "scanned_from": {
            "type": "string",
            "title": "Scanned From",
            "default": "DEFAULT"
          },
          "private_scan": {
            "type": "boolean",
            "title": "Private Scan",
            "default": false
          },
          "submitter_tags": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Submitter Tags"
          },
          "origin": {
            "$ref": "#/components/schemas/OriginEnum",
            "default": "API"
          }
        },
        "type": "object",
        "required": [
          "submitted_url"
        ],
        "title": "ScanRequest"
      },
      "ScanResult": {
        "properties": {
          "certificate": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Certificate"
              },
              {
                "type": "null"
              }
            ],
            "description": "SSL/TLS certificate information for the scanned domain."
          },
          "console_messages": {
            "items": {
              "$ref": "#/components/schemas/ConsoleMessage"
            },
            "type": "array",
            "title": "Console Messages",
            "description": "JavaScript console messages captured during page rendering.",
            "default": []
          },
          "cookies": {
            "items": {
              "$ref": "#/components/schemas/Cookie"
            },
            "type": "array",
            "title": "Cookies",
            "description": "HTTP cookies set by the page and its resources.",
            "default": []
          },
          "dom": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Dom",
            "description": "Complete HTML Document Object Model (DOM) of the rendered page."
          },
          "favicon": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Favicon"
              },
              {
                "type": "null"
              }
            ],
            "description": "Favicon metadata and perceptual hash for similarity matching."
          },
          "http_transactions": {
            "items": {
              "$ref": "#/components/schemas/HttpTransaction"
            },
            "type": "array",
            "title": "Http Transactions",
            "description": "All HTTP requests and responses observed during page load.",
            "default": []
          },
          "ip_address": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/IpAddress"
              },
              {
                "type": "null"
              }
            ],
            "description": "IP address and geolocation details of the hosting server."
          },
          "classification": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Classification"
              },
              {
                "type": "null"
              }
            ],
            "description": "Classification assessment indicating potential malicious activity."
          },
          "page": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Page"
              },
              {
                "type": "null"
              }
            ],
            "description": "Extracted page content and metadata."
          },
          "scan": {
            "$ref": "#/components/schemas/Scan",
            "description": "Scan configuration and processing metadata."
          },
          "scan_whois": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ScanWhois"
              },
              {
                "type": "null"
              }
            ],
            "description": "Domain registration information from WHOIS records."
          },
          "screenshot": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Screenshot"
              },
              {
                "type": "null"
              }
            ],
            "description": "Visual screenshot of the rendered webpage."
          },
          "redirect_chains": {
            "items": {
              "$ref": "#/components/schemas/RedirectChain"
            },
            "type": "array",
            "title": "Redirect Chains",
            "description": "Complete redirect chain from submitted URL to final destination.",
            "default": []
          },
          "technologies": {
            "items": {
              "$ref": "#/components/schemas/Technology"
            },
            "type": "array",
            "title": "Technologies",
            "description": "Web technologies detected on the page.",
            "default": []
          }
        },
        "type": "object",
        "required": [
          "scan"
        ],
        "title": "ScanResult"
      },
      "ScanWhois": {
        "properties": {
          "address": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Address",
            "description": "Registrant's physical address from WHOIS record."
          },
          "country": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Country",
            "description": "Country of domain registration."
          },
          "creation_date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Creation Date",
            "description": "Date when the domain was initially registered."
          },
          "domain_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Domain Name",
            "description": "Fully qualified domain name."
          },
          "expiration_date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expiration Date",
            "description": "Date when the domain registration expires."
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "Registrant name from WHOIS record."
          },
          "org": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Org",
            "description": "Organization name of the domain owner."
          },
          "registrant_postal_code": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Registrant Postal Code",
            "description": "Postal code associated with the registrant address."
          },
          "registrar": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Registrar",
            "description": "Domain registrar company through which the domain was registered."
          },
          "state": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "State",
            "description": "State or province of domain registration."
          },
          "updated_date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Updated Date",
            "description": "Date when the WHOIS record was last modified."
          }
        },
        "type": "object",
        "title": "ScanWhois"
      },
      "Screenshot": {
        "properties": {
          "blob_uri": {
            "type": "string",
            "title": "Blob Uri",
            "description": "Temporary URI for accessing the screenshot image (30-minute TTL)."
          },
          "format": {
            "type": "string",
            "title": "Format",
            "description": "Image file format (png or jpeg)."
          },
          "height": {
            "type": "integer",
            "title": "Height",
            "description": "Screenshot height in pixels."
          },
          "mimetype": {
            "type": "string",
            "title": "Mimetype",
            "description": "MIME type of the screenshot image."
          },
          "phash": {
            "type": "string",
            "title": "Phash",
            "description": "Perceptual hash (pHash) for detecting visually similar pages."
          },
          "width": {
            "type": "integer",
            "title": "Width",
            "description": "Screenshot width in pixels."
          }
        },
        "type": "object",
        "required": [
          "blob_uri",
          "format",
          "height",
          "mimetype",
          "phash",
          "width"
        ],
        "title": "Screenshot"
      },
      "SearchRequest": {
        "properties": {
          "query": {
            "type": "string",
            "maxLength": 200,
            "minLength": 3,
            "title": "Query",
            "description": "Search query string or CQL expression for filtering scans."
          },
          "max_results": {
            "type": "integer",
            "maximum": 32,
            "minimum": 1,
            "title": "Max Results",
            "description": "Maximun number of scans retreived per page",
            "default": 32
          },
          "page": {
            "type": "integer",
            "minimum": 1,
            "title": "Page",
            "description": "Page number for pagination (1-indexed). Pages beyond the first are accessible to PREMIUM users only.",
            "default": 1
          }
        },
        "type": "object",
        "required": [
          "query"
        ],
        "title": "SearchRequest"
      },
      "StatusEnum": {
        "type": "string",
        "enum": [
          "PENDING",
          "RUNNING",
          "DONE",
          "ERROR"
        ],
        "title": "StatusEnum"
      },
      "SubscriptionType": {
        "type": "string",
        "enum": [
          "FREE",
          "PREMIUM"
        ],
        "title": "SubscriptionType"
      },
      "Technology": {
        "properties": {
          "category": {
            "type": "string",
            "title": "Category",
            "description": "Technology classification (e.g., CMS, Analytics, JavaScript Framework, CDN)."
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Technology name (e.g., WordPress, Google Analytics, React)."
          },
          "version": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
[...]
