{
    "openapi": "3.0.3",
    "info": {
        "title": "urlDNA API",
        "version": "1.0.0",
        "description": "Comprehensive API for URL scanning, security analysis, and threat intelligence gathering"
    },
    "servers": [
        {
            "url": "https://api.urldna.io",
            "description": "Production API endpoint"
        }
    ],
    "components": {
        "securitySchemes": {
            "ApiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "Authorization"
            }
        },
        "schemas": {
            "Viewport": {
                "type": "object",
                "description": "Configures viewport dimensions and device type for webpage rendering during scans.",
                "properties": {
                    "device": {
                        "type": "string",
                        "enum": [
                            "DESKTOP",
                            "MOBILE"
                        ],
                        "description": "Device type for viewport simulation."
                    },
                    "width": {
                        "type": "number",
                        "description": "Viewport width in pixels."
                    },
                    "height": {
                        "type": "number",
                        "description": "Viewport height in pixels."
                    }
                }
            },
            "UserAgent": {
                "type": "object",
                "description": "User agent configuration for simulating specific browsers and devices during scan requests.",
                "properties": {
                    "user_agent": {
                        "type": "string",
                        "description": "Complete user agent string representing the browser or device."
                    },
                    "device": {
                        "type": "string",
                        "enum": [
                            "DESKTOP",
                            "MOBILE"
                        ],
                        "description": "Device type associated with this user agent."
                    },
                    "browser": {
                        "type": "string",
                        "description": "Browser name (e.g., Chrome, Firefox, Safari)."
                    },
                    "share": {
                        "type": "number",
                        "description": "Market share percentage of this user agent among internet users."
                    }
                }
            },
            "Scan": {
                "type": "object",
                "description": "Complete scan metadata including submission details, configuration parameters, and processing status.",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Unique auto-generated scan identifier."
                    },
                    "submitted_url": {
                        "type": "string",
                        "description": "Original URL submitted for scanning."
                    },
                    "domain": {
                        "type": "string",
                        "description": "Extracted domain from the submitted URL."
                    },
                    "target_url": {
                        "type": "string",
                        "description": "Final destination URL after following all redirects."
                    },
                    "protocol": {
                        "type": "string",
                        "description": "Protocol used (HTTP or HTTPS)."
                    },
                    "device": {
                        "type": "string",
                        "enum": [
                            "DESKTOP",
                            "MOBILE"
                        ],
                        "description": "Device type used for the scan simulation."
                    },
                    "user_agent": {
                        "type": "string",
                        "description": "User agent string used to simulate the browser environment."
                    },
                    "http_referer": {
                        "type": "string",
                        "description": "HTTP Referer header value indicating the originating page for the request."
                    },
                    "nsfw": {
                        "type": "boolean",
                        "description": "Indicates whether the page contains Not Safe For Work (NSFW) content such as nudity or adult material."
                    },
                    "scanned_from": {
                        "type": "string",
                        "enum": [
                            "DEFAULT",
                            "AU",
                            "BE",
                            "CA",
                            "CH",
                            "DE",
                            "ES",
                            "FR",
                            "GB",
                            "GR",
                            "HU",
                            "ID",
                            "IT",
                            "JP",
                            "MX",
                            "NL",
                            "PT",
                            "ZA",
                            "TR",
                            "US"
                        ],
                        "description": "Country code from which the scan was initiated. Available for PREMIUM users only."
                    },
                    "origin": {
                        "type": "string",
                        "enum": [
                            "API",
                            "USER"
                        ],
                        "description": "Indicates whether the scan was submitted programmatically via API or manually by a user."
                    },
                    "width": {
                        "type": "number",
                        "description": "Viewport width in pixels used during the scan."
                    },
                    "height": {
                        "type": "number",
                        "description": "Viewport height in pixels used during the scan."
                    },
                    "private_scan": {
                        "type": "boolean",
                        "description": "When true, scan results are only accessible to the submitting user."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "RUNNING",
                            "DONE",
                            "ERROR"
                        ],
                        "description": "Current scan status. PENDING and RUNNING are transient states; DONE and ERROR are terminal states."
                    },
                    "submitted_date": {
                        "type": "string",
                        "format": "date-time",
                        "description": "ISO 8601 timestamp when the scan was submitted."
                    },
                    "submitter_tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "User-defined tags for organizing and categorizing scans."
                    },
                    "error_code": {
                        "type": "string",
                        "description": "Error code when scan status is ERROR, indicating the reason for failure."
                    }
                }
            },
            "Certificate": {
                "type": "object",
                "description": "SSL/TLS certificate details extracted from the scanned domain, including X.509 attributes and validation information.",
                "properties": {
                    "authority_info_access": {
                        "type": "string",
                        "description": "URLs for accessing Certificate Authority services (OCSP responder and CA issuer locations)."
                    },
                    "authority_key_identifier": {
                        "type": "string",
                        "description": "Unique identifier for the issuing CA's public key, used for certificate chain validation."
                    },
                    "basic_constraints": {
                        "type": "string",
                        "description": "Indicates CA status and maximum certificate chain depth allowed."
                    },
                    "certificate_policies": {
                        "type": "string",
                        "description": "Certificate usage policies with references to policy documentation URLs."
                    },
                    "ct_precert_scts": {
                        "type": "string",
                        "description": "Signed Certificate Timestamps (SCTs) from Certificate Transparency logs for public audit trail."
                    },
                    "extended_key_usage": {
                        "type": "string",
                        "description": "Permitted uses for the certificate (e.g., server authentication, code signing)."
                    },
                    "issuer": {
                        "type": "string",
                        "description": "Distinguished Name (DN) of the Certificate Authority that issued this certificate."
                    },
                    "key_usage": {
                        "type": "string",
                        "description": "Cryptographic operations permitted for this certificate's key pair (e.g., digital signature, key encipherment)."
                    },
                    "not_after": {
                        "type": "string",
                        "description": "Certificate expiration timestamp after which the certificate is no longer valid."
                    },
                    "not_before": {
                        "type": "string",
                        "description": "Certificate validity start timestamp."
                    },
                    "serial_number": {
                        "type": "string",
                        "description": "Unique serial number assigned by the issuing CA."
                    },
                    "subject": {
                        "type": "string",
                        "description": "Distinguished Name (DN) of the entity for which the certificate was issued."
                    },
                    "subject_key_identifier": {
                        "type": "string",
                        "description": "Unique identifier for the certificate's public key, facilitating key management."
                    },
                    "version": {
                        "type": "number",
                        "description": "X.509 certificate version number (typically 1, 2, or 3)."
                    }
                }
            },
            "ConsoleMessage": {
                "type": "object",
                "description": "Browser console message captured during page load, useful for detecting JavaScript errors or security warnings.",
                "properties": {
                    "text": {
                        "type": "string",
                        "description": "Complete message text logged to the console."
                    },
                    "type": {
                        "type": "string",
                        "description": "Console message severity level (log, error, warn, info)."
                    }
                }
            },
            "Cookie": {
                "type": "object",
                "description": "HTTP cookie set by the scanned webpage, including security attributes and scope.",
                "properties": {
                    "domain": {
                        "type": "string",
                        "description": "Domain scope for which the cookie is valid."
                    },
                    "expiry": {
                        "type": "string",
                        "description": "Cookie expiration timestamp in UTC format."
                    },
                    "http_only": {
                        "type": "boolean",
                        "description": "When true, cookie is inaccessible to JavaScript, mitigating XSS attacks."
                    },
                    "name": {
                        "type": "string",
                        "description": "Cookie identifier name."
                    },
                    "path": {
                        "type": "string",
                        "description": "URL path scope within the domain where the cookie applies."
                    },
                    "secure": {
                        "type": "boolean",
                        "description": "When true, cookie is transmitted only over HTTPS connections."
                    },
                    "value": {
                        "type": "string",
                        "description": "Cookie value data."
                    }
                }
            },
            "Favicon": {
                "type": "object",
                "description": "Favicon metadata including format details and perceptual hash for visual similarity detection.",
                "properties": {
                    "blob_uri": {
                        "type": "string",
                        "description": "Temporary URI for accessing the favicon image (30-minute TTL)."
                    },
                    "format": {
                        "type": "string",
                        "description": "Detected image format (e.g., ico, png, svg)."
                    },
                    "height": {
                        "type": "number",
                        "description": "Favicon height in pixels."
                    },
                    "mimetype": {
                        "type": "string",
                        "description": "MIME type of the favicon (e.g., image/x-icon, image/png)."
                    },
                    "name": {
                        "type": "string",
                        "description": "Favicon filename if available."
                    },
                    "phash": {
                        "type": "string",
                        "description": "Perceptual hash (pHash) for identifying visually similar favicons across different scans."
                    },
                    "url": {
                        "type": "string",
                        "description": "Complete URL of the favicon resource."
                    },
                    "width": {
                        "type": "number",
                        "description": "Favicon width in pixels."
                    }
                }
            },
            "HttpTransaction": {
                "type": "object",
                "description": "Individual HTTP request-response transaction recorded during the scan, useful for analyzing page behavior and dependencies.",
                "properties": {
                    "content_type": {
                        "type": "string",
                        "description": "Content-Type header value from the HTTP response (e.g., text/html, application/json)."
                    },
                    "ip": {
                        "type": "string",
                        "description": "IP address of the server that responded to the request."
                    },
                    "method": {
                        "type": "string",
                        "description": "HTTP method used for the request (GET, POST, HEAD, etc.)."
                    },
                    "mimetypes": {
                        "type": "string",
                        "description": "MIME types associated with the response content."
                    },
                    "size": {
                        "type": "number",
                        "description": "Response body size in bytes."
                    },
                    "status_code": {
                        "type": "number",
                        "description": "HTTP status code returned (e.g., 200 for OK, 404 for Not Found, 301 for redirect)."
                    },
                    "url": {
                        "type": "string",
                        "description": "Complete URL of the requested resource."
                    }
                }
            },
            "IpAddress": {
                "type": "object",
                "description": "Geolocation and network ownership information for an IP address resolved during the scan.",
                "properties": {
                    "asn": {
                        "type": "string",
                        "description": "Autonomous System Number (ASN) identifying the network operator."
                    },
                    "city": {
                        "type": "string",
                        "description": "City location of the IP address."
                    },
                    "country": {
                        "type": "string",
                        "description": "Country where the IP address is registered."
                    },
                    "country_code": {
                        "type": "string",
                        "description": "Two-letter ISO 3166-1 alpha-2 country code."
                    },
                    "ip": {
                        "type": "string",
                        "description": "IP address being analyzed."
                    },
                    "isp": {
                        "type": "string",
                        "description": "Internet Service Provider managing this IP address."
                    },
                    "latitude": {
                        "type": "number",
                        "description": "Approximate latitude coordinate of the IP location."
                    },
                    "longitude": {
                        "type": "number",
                        "description": "Approximate longitude coordinate of the IP location."
                    },
                    "org": {
                        "type": "string",
                        "description": "Organization that owns or manages the IP address."
                    },
                    "region": {
                        "type": "string",
                        "description": "State or region where the IP address is located."
                    },
                    "timezone_gmt": {
                        "type": "string",
                        "description": "Time zone offset in GMT format."
                    },
                    "type": {
                        "type": "string",
                        "description": "IP address classification (e.g., residential, corporate, cloud provider, hosting)."
                    }
                }
            },
            "Classification": {
                "type": "object",
                "description": "Represents the AI-driven classification result indicating whether the scanned URL demonstrates potentially malicious behavior.",
                "properties": {
                    "verdict": {
                        "type": "string",
                        "enum": [
                            "SAFE",
                            "MALICIOUS"
                        ],
                        "description": "The final classification verdict. `SAFE` indicates that no threats were detected, while `MALICIOUS` indicates that the AI engine identified potentially harmful or suspicious content."
                    }
                }
            },
            "Page": {
                "type": "object",
                "description": "Extracted page content and metadata from the scanned webpage, including structural and textual information.",
                "properties": {
                    "headers": {
                        "type": "object",
                        "description": "HTTP response headers returned by the server."
                    },
                    "meta_tags": {
                        "type": "object",
                        "description": "HTML meta tags extracted from the document head section."
                    },
                    "outgoing_links": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Array of URLs linked from the scanned page, useful for mapping site structure."
                    },
                    "ssdeep": {
                        "type": "string",
                        "description": "SSDEEP fuzzy hash for detecting similar or modified page content."
                    },
                    "text": {
                        "type": "string",
                        "description": "Extracted plaintext content from the webpage, with HTML markup removed."
                    },
                    "title": {
                        "type": "string",
                        "description": "Page title extracted from the HTML <title> tag."
                    }
                }
            },
            "ScanWhois": {
                "type": "object",
                "description": "WHOIS registration data for the scanned domain, providing ownership and registration history.",
                "properties": {
                    "address": {
                        "type": "string",
                        "description": "Registrant's physical address from WHOIS record."
                    },
                    "country": {
                        "type": "string",
                        "description": "Country of domain registration."
                    },
                    "creation_date": {
                        "type": "string",
                        "description": "Date when the domain was initially registered."
                    },
                    "domain_name": {
                        "type": "string",
                        "description": "Fully qualified domain name."
                    },
                    "expiration_date": {
                        "type": "string",
                        "description": "Date when the domain registration expires."
                    },
                    "name": {
                        "type": "string",
                        "description": "Registrant name from WHOIS record."
                    },
                    "org": {
                        "type": "string",
                        "description": "Organization name of the domain owner."
                    },
                    "registrant_postal_code": {
                        "type": "string",
                        "description": "Postal code associated with the registrant address."
                    },
                    "registrar": {
                        "type": "string",
                        "description": "Domain registrar company through which the domain was registered."
                    },
                    "state": {
                        "type": "string",
                        "description": "State or province of domain registration."
                    },
                    "updated_date": {
                        "type": "string",
                        "description": "Date when the WHOIS record was last modified."
                    }
                }
            },
            "Screenshot": {
                "type": "object",
                "description": "Visual screenshot of the rendered webpage, useful for visual analysis and archival purposes.",
                "properties": {
                    "blob_uri": {
                        "type": "string",
                        "description": "Temporary URI for accessing the screenshot image (30-minute TTL)."
                    },
                    "format": {
                        "type": "string",
                        "description": "Image file format (png or jpeg)."
                    },
                    "height": {
                        "type": "number",
                        "description": "Screenshot height in pixels."
                    },
                    "mimetype": {
                        "type": "string",
                        "description": "MIME type of the screenshot image."
                    },
                    "phash": {
                        "type": "string",
                        "description": "Perceptual hash (pHash) for detecting visually similar pages."
                    },
                    "width": {
                        "type": "number",
                        "description": "Screenshot width in pixels."
                    }
                }
            },
            "RedirectChain": {
                "type": "object",
                "description": "Complete sequence of HTTP redirects encountered before reaching the final destination URL.",
                "properties": {
                    "redirect_url": {
                        "type": "string",
                        "description": "Intermediate URL in the redirect chain."
                    },
                    "status": {
                        "type": "string",
                        "description": "HTTP status code for this redirect hop."
                    },
                    "elapsed_time": {
                        "type": "number",
                        "description": "Time duration in milliseconds for this redirect hop."
                    }
                }
            },
            "Technology": {
                "type": "object",
                "description": "Web technology detected on the scanned page, including software, frameworks, and services.",
                "properties": {
                    "category": {
                        "type": "string",
                        "description": "Technology classification (e.g., CMS, Analytics, JavaScript Framework, CDN)."
                    },
                    "name": {
                        "type": "string",
                        "description": "Technology name (e.g., WordPress, Google Analytics, React)."
                    },
                    "version": {
                        "type": "string",
                        "description": "Detected version number if identifiable."
                    }
                }
            },
            "ScanResult": {
                "type": "object",
                "description": "Comprehensive scan results containing security analysis, network information, content extraction, and metadata.",
                "properties": {
                    "certificate": {
                        "$ref": "#/components/schemas/Certificate",
                        "description": "SSL/TLS certificate information for the scanned domain."
                    },
                    "console_messages": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ConsoleMessage"
                        },
                        "description": "JavaScript console messages captured during page rendering."
                    },
                    "cookies": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Cookie"
                        },
                        "description": "HTTP cookies set by the page and its resources."
                    },
                    "dom": {
                        "type": "string",
                        "description": "Complete HTML Document Object Model (DOM) of the rendered page."
                    },
                    "favicon": {
                        "$ref": "#/components/schemas/Favicon",
                        "description": "Favicon metadata and perceptual hash for similarity matching."
                    },
                    "http_transactions": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/HttpTransaction"
                        },
                        "description": "All HTTP requests and responses observed during page load."
                    },
                    "ip_address": {
                        "$ref": "#/components/schemas/IpAddress",
                        "description": "IP address and geolocation details of the hosting server."
                    },
                    "classification": {
                        "$ref": "#/components/schemas/Classification",
                        "description": "Classification assessment indicating potential malicious activity."
                    },
                    "page": {
                        "$ref": "#/components/schemas/Page",
                        "description": "Extracted page content and metadata."
                    },
                    "scan": {
                        "$ref": "#/components/schemas/Scan",
                        "description": "Scan configuration and processing metadata."
                    },
                    "scan_whois": {
                        "$ref": "#/components/schemas/ScanWhois",
                        "description": "Domain registration information from WHOIS records."
                    },
                    "screenshot": {
                        "$ref": "#/components/schemas/Screenshot",
                        "description": "Visual screenshot of the rendered webpage."
                    },
                    "redirect_chains": {
                        "$ref": "#/components/schemas/RedirectChain",
                        "description": "Complete redirect chain from submitted URL to final destination."
                    },
                    "technologies": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Technology"
                        },
                        "description": "Web technologies detected on the page."
                    }
                }
            },
            "QueryFilter": {
                "type": "object",
                "description": "Individual filter condition for constructing complex search queries using attribute-operator-value patterns.",
                "properties": {
                    "attribute": {
                        "type": "string",
                        "description": "Searchable attribute field (e.g., domain, ip, country_code, technology).",
                        "enum": [
                            "id","domain", "ip", "submitted_url", "target_url", "scanned_from", "user_agent", "nsfw", "device",
                       "origin", "asn", "org", "protocol", "title", "city", "country_code", "isp", "favicon",
                       "screenshot", "issuer", "serial_number", "subject", "malicious", "technology", "cookie_name", "http_referer",
                       "cookie_value", "http_transaction", "outgoing_link", "submitter_tag", "registrar", "category", "topic", "language", "text", "redirect_url", "threat"
                        ]
                    },
                    "operator": {
                        "type": "string",
                        "description": "Comparison operator: '=' and '!=' for exact matching; 'LIKE' and '!LIKE' for partial/wildcard matching.",
                        "enum": [
                            "=",
                            "!=",
                            "LIKE",
                            "!LIKE"
                        ]
                    },
                    "value": {
                        "type": "string",
                        "description": "Value to match against the specified attribute."
                    }
                },
                "required": [
                    "attribute",
                    "operator",
                    "value"
                ]
            },
            "Query": {
                "type": "object",
                "description": "Saved query object containing multiple filter conditions for retrieving specific scan subsets.",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Unique query identifier."
                    },
                    "name": {
                        "type": "string",
                        "description": "User-defined query name for easy identification."
                    },
                    "query_filters": {
                        "type": "array",
                        "description": "Array of filter conditions combined with logical AND.",
                        "items": {
                            "$ref": "#/components/schemas/QueryFilter"
                        }
                    }
                },
                "required": [
                    "name",
                    "query_filters"
                ]
            },
            "Brand": {
                "type": "object",
                "description": "Brand entity for organizing and monitoring scans related to specific brand domains and assets.",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Unique brand identifier."
                    },
                    "name": {
                        "type": "string",
                        "description": "Brand name."
                    },
                    "private_brand": {
                        "type": "boolean",
                        "description": "When true, brand is visible only to the creating user."
                    }
                }
            },
            "Chat": {
                "type": "object",
                "description": "AI chat session for analyzing scan results, generating insights, and extracting structured data from scans.",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Unique chat session identifier."
                    },
                    "chat_date": {
                        "type": "string",
                        "format": "date-time",
                        "description": "ISO 8601 timestamp when the chat session was initiated."
                    },
                    "prompt": {
                        "type": "string",
                        "description": "User's input message or question about the scan."
                    },
                    "response": {
                        "type": "string",
                        "description": "AI-generated response to the user's prompt."
                    },
                    "response_type": {
                        "type": "string",
                        "description": "Response format: MARKDOWN for human-readable text or JSON for structured data extraction.",
                        "enum": [
                            "MARKDOWN",
                            "JSON"
                        ]
                    },
                    "scan_id": {
                        "type": "string",
                        "description": "Associated scan identifier for context."
                    },
                    "status": {
                        "type": "string",
                        "description": "Chat processing status.",
                        "enum": [
                            "PENDING",
                            "RUNNING",
                            "DONE",
                            "ERROR"
                        ]
                    },
                    "json_output": {
                        "type": "object",
                        "description": "Structured JSON data when response_type is JSON. Must contain a valid dictionary."
                    }
                }
            },
            "Exception": {
                "type": "string",
                "example": "An unexpected error occurred. Please try again or contact support."
            },
            "NonPremiumUserException": {
                "type": "string",
                "example": "This feature is available only for PREMIUM users. Please upgrade your plan to access this functionality."
            },
            "ApiQuotaExceededException": {
                "type": "string",
                "example": "Daily API quota exceeded. Contact urldna@urldna.io to upgrade your subscription plan."
            },
            "ObjectNotFoundException": {
                "type": "string",
                "example": "The requested resource was not found."
            },
            "UnauthorizedException": {
                "type": "string",
                "example": "Authentication failed. Please check your credentials."
            },
            "InvalidApiKey": {
                "type": "string",
                "example": "Invalid API key. Please verify your Authorization header."
            }
        }
    },
    "security": [
        {
            "ApiKeyAuth": []
        }
    ],
    "paths": {
        "/v1/scan/{scan_id}": {
            "get": {
                "summary": "Retrieve Scan Results",
                "description": "Fetches complete scan results for a specific scan ID. Returns scan metadata immediately; full results (certificate, screenshot, etc.) are available once status is DONE. Scans in PENDING or RUNNING states return metadata only.",
                "parameters": [
                    {
                        "name": "scan_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Unique scan identifier returned from scan submission."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Scan results retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ScanResult"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Scan ID not found or invalid format.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectNotFoundException"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Missing or invalid API key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvalidApiKey"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - API rate limit exceeded.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQuotaExceededException"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error - Unexpected server-side error occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/scan": {
            "post": {
                "summary": "Submit a New Scan",
                "description": "Initiates a new URL scan with customizable parameters. Returns a Scan object immediately with status PENDING. Processing typically completes within 30-60 seconds depending on system load. Poll the GET /v1/scan/{scan_id} endpoint to retrieve full results once status is DONE.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "submitted_url": {
                                        "type": "string",
                                        "description": "Complete URL to scan (must include protocol: http:// or https://)."
                                    },
                                    "scanned_from": {
                                        "type": "string",
                                        "default": "DEFAULT",
                                        "enum": [
                                            "DEFAULT",
                                            "AU",
                                            "BE",
                                            "CA",
                                            "CH",
                                            "DE",
                                            "ES",
                                            "FR",
                                            "GB",
                                            "GR",
                                            "HU",
                                            "ID",
                                            "IT",
                                            "JP",
                                            "MX",
                                            "NL",
                                            "PT",
                                            "ZA",
                                            "TR",
                                            "US"
                                        ],
                                        "description": "Geographic location from which to perform the scan. Enables geo-specific content testing. PREMIUM users only."
                                    },
                                    "device": {
                                        "type": "string",
                                        "enum": [
                                            "DESKTOP",
                                            "MOBILE"
                                        ],
                                        "default": "DESKTOP",
                                        "description": "Device type to simulate during scanning."
                                    },
                                    "user_agent": {
                                        "type": "string",
                                        "description": "Custom user agent string. Retrieve available options from GET /v1/user-agents endpoint."
                                    },
                                    "http_referer": {
                                        "type": "string",
                                        "description": "HTTP Referer header value to simulate traffic from a specific source page."
                                    },
                                    "width": {
                                        "type": "integer",
                                        "default": 1920,
                                        "description": "Viewport width in pixels. See GET /v1/viewports for recommended dimensions."
                                    },
                                    "height": {
                                        "type": "integer",
                                        "default": 1080,
                                        "description": "Viewport height in pixels. See GET /v1/viewports for recommended dimensions."
                                    },
                                    "waiting_time": {
                                        "type": "integer",
                                        "default": 5,
                                        "description": "Wait time in seconds before capturing scan results. Allows JavaScript-heavy pages to fully render."
                                    },
                                    "private_scan": {
                                        "type": "boolean",
                                        "default": false,
                                        "description": "When true, scan results are private and accessible only to the submitting user."
                                    },
                                    "submitter_tags": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": "Custom tags for organizing and filtering scans. PREMIUM users only."
                                    }
                                },
                                "required": [
                                    "submitted_url"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Scan successfully queued for processing.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Scan"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Missing or invalid API key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvalidApiKey"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - API rate limit exceeded.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQuotaExceededException"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error - Unexpected server-side error occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/search": {
            "post": {
                "summary": "Search Existing Scans",
                "description": "Searches the scan database using query strings or CQL (Custom Query Language). Returns matching scans sorted by submission date descending. Supports complex filtering across multiple scan attributes. See documentation for CQL syntax details.",
                "parameters": [{
                    "name": "page",
                    "in": "query",
                    "description": "Page number for pagination (1-indexed). Pages beyond the first are accessible to PREMIUM users only.",
                    "required": false,
                    "schema": {
                        "type": "number",
                        "default": 1
                    }
                }],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "query": {
                                        "type": "string",
                                        "description": "Search query string or CQL expression for filtering scans."
                                    }
                                },
                                "required": [
                                    "query"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Search completed successfully. Returns array of matching scans.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "description": "Array of Scan objects matching the query, sorted by submission date (newest first).",
                                    "items": {
                                        "$ref": "#/components/schemas/Scan"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Missing or invalid API key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvalidApiKey"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - Search functionality requires PREMIUM subscription.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NonPremiumUserException"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - API rate limit exceeded.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQuotaExceededException"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error - Unexpected server-side error occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/fast-check": {
            "post": {
                "summary": "Perform Fast URL Safety Check",
                "description": "Quickly assesses URL safety without performing a full scan. Returns malicious score and classification (SAFE, MALICIOUS, or UNRATED) based on existing intelligence and heuristics. Ideal for real-time URL validation.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "url": {
                                        "type": "string",
                                        "description": "URL to check (must include protocol)."
                                    }
                                },
                                "required": [
                                    "url"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Fast check completed successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "malicious_score": {
                                            "type": "number",
                                            "description": "Numerical score (0-100) indicating likelihood of malicious intent. Higher values indicate greater risk."
                                        },
                                        "status": {
                                            "type": "string",
                                            "enum": [
                                                "SAFE",
                                                "MALICIOUS",
                                                "UNRATED"
                                            ],
                                            "description": "URL classification: SAFE (verified benign), MALICIOUS (threat detected), UNRATED (insufficient data)."
                                        },
                                        "url": {
                                            "type": "string",
                                            "description": "The URL that was checked."
                                        },
                                        "scan_id": {
                                            "type": "string",
                                            "description": "Scan ID associated with the checked URL. This attribute is omitted if the URL is not present in the system."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Invalid URL format or malformed request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectNotFoundException"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Missing or invalid API key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvalidApiKey"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - API rate limit exceeded.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQuotaExceededException"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error - Unexpected server-side error occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/user-agents": {
            "get": {
                "summary": "List Available User Agents",
                "description": "Returns a curated list of user agent strings that can be used when submitting scans. Each user agent includes browser type, device category, and market share data to help select realistic scanning profiles.",
                "responses": {
                    "200": {
                        "description": "User agent list retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UserAgent"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Missing or invalid API key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvalidApiKey"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error - Unexpected server-side error occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/viewports": {
            "get": {
                "summary": "List Available Viewports",
                "description": "Returns recommended viewport dimensions for both desktop and mobile scans. Use these dimensions to ensure consistent rendering across scans and match common device resolutions.",
                "responses": {
                    "200": {
                        "description": "Viewport list retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Viewport"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Missing or invalid API key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvalidApiKey"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error - Unexpected server-side error occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/queries": {
            "get": {
                "summary": "List User's Saved Queries",
                "description": "Retrieves all saved query objects for the authenticated user. Queries encapsulate reusable filter combinations for consistent scan searching.",
                "responses": {
                    "200": {
                        "description": "Query list retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Query"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Missing or invalid API key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvalidApiKey"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error - Unexpected server-side error occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/query": {
            "post": {
                "summary": "Create Saved Query",
                "description": "Creates a new saved query with custom filter conditions. Queries enable complex, reusable searches across scan attributes using logical AND combinations of filters.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "Descriptive name for identifying the query."
                                    },
                                    "query_filters": {
                                        "type": "array",
                                        "description": "Array of filter conditions. All filters are combined with logical AND.",
                                        "items": {
                                            "$ref": "#/components/schemas/QueryFilter"
                                        }
                                    }
                                },
                                "required": [
                                    "name",
                                    "query_filters"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Query created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Query"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Missing or invalid API key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvalidApiKey"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - Query management requires PREMIUM subscription.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NonPremiumUserException"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error - Unexpected server-side error occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/query/{query_id}": {
            "put": {
                "summary": "Update Saved Query",
                "description": "Updates an existing saved query's name or filter conditions. Replaces all previous filters with the provided filter array.",
                "parameters": [
                    {
                        "name": "query_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Unique query identifier."
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "Updated query name."
                                    },
                                    "query_filters": {
                                        "type": "array",
                                        "description": "Updated array of filter conditions.",
                                        "items": {
                                            "$ref": "#/components/schemas/QueryFilter"
                                        }
                                    }
                                },
                                "required": [
                                    "name",
                                    "query_filters"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Query updated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Query"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Query ID not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectNotFoundException"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Missing or invalid API key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvalidApiKey"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - Query management requires PREMIUM subscription.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NonPremiumUserException"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error - Unexpected server-side error occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "summary": "Get Saved Query Details",
                "description": "Retrieves complete details for a specific saved query including all filter conditions.",
                "parameters": [
                    {
                        "name": "query_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Unique query identifier."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Query details retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Query"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Query ID not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectNotFoundException"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Missing or invalid API key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvalidApiKey"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error - Unexpected server-side error occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete Saved Query",
                "description": "Permanently deletes a saved query. This operation cannot be undone.",
                "parameters": [
                    {
                        "name": "query_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Unique query identifier to delete."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Query deleted successfully."
                    },
                    "400": {
                        "description": "Bad Request - Query ID not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectNotFoundException"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Missing or invalid API key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvalidApiKey"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error - Unexpected server-side error occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/query/{query_id}/scans": {
            "get": {
                "summary": "Execute Saved Query",
                "description": "Executes a saved query and returns all matching scans sorted by submission date descending. Applies all filter conditions defined in the query.",
                "parameters": [
                    {
                        "name": "query_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Unique query identifier to execute."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination (1-indexed). Pages beyond the first require PREMIUM subscription.",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Query executed successfully. Returns matching scans.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "description": "Array of Scan objects matching query filters, sorted by submission date (newest first).",
                                    "items": {
                                        "$ref": "#/components/schemas/Scan"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Query ID not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectNotFoundException"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Missing or invalid API key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvalidApiKey"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - API rate limit exceeded.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQuotaExceededException"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error - Unexpected server-side error occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/brands": {
            "get": {
                "summary": "List Brands",
                "description": "Retrieves brands available to the user for monitoring brand-related scans. Supports filtering by visibility level and searching by name. PREMIUM users only.",
                "parameters": [{
                    "name": "filter",
                    "in": "query",
                    "description": "Filter brands by visibility: ALL (all accessible brands), FREE (public brands), PREMIUM (premium-tier brands), USER_BRANDS (user-created brands).",
                    "required": false,
                    "schema": {
                        "type": "string",
                        "enum": ["ALL", "FREE", "PREMIUM", "USER_BRANDS"]
                    }
                },
                {
                    "name": "query",
                    "in": "query",
                    "description": "Search term for filtering brands by name (case-insensitive partial match).",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "page",
                    "in": "query",
                    "description": "Page number for pagination (1-indexed). Pages beyond the first require PREMIUM subscription.",
                    "required": false,
                    "schema": {
                        "type": "number",
                        "default": 1
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Brand list retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Brand"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Missing or invalid API key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvalidApiKey"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - Brand monitoring requires PREMIUM subscription.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NonPremiumUserException"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error - Unexpected server-side error occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/brand/{brand_id}": {
            "get": {
                "summary": "Get Brand Details",
                "description": "Retrieves complete details for a specific brand including configuration and metadata. PREMIUM users only.",
                "parameters": [
                    {
                        "name": "brand_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Unique brand identifier."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Brand details retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Brand"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Brand ID not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectNotFoundException"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Missing or invalid API key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvalidApiKey"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - Brand monitoring requires PREMIUM subscription.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NonPremiumUserException"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error - Unexpected server-side error occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/brand/{brand_id}/scans": {
            "get": {
                "summary": "Get Brand-Related Scans",
                "description": "Retrieves all scans associated with a specific brand. Supports additional CQL filtering to narrow results. Returns scans sorted by submission date descending. PREMIUM users only.",
                "parameters": [
                    {
                        "name": "brand_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Unique brand identifier."
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "Optional CQL query string to further filter brand scans. See POST /v1/search documentation for CQL syntax.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination (1-indexed). Pages beyond the first require PREMIUM subscription.",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "default": 1
                        }
                    }],
                "responses": {
                    "200": {
                        "description": "Brand scans retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "description": "Array of Scan objects associated with the brand, sorted by submission date (newest first).",
                                    "items": {
                                        "$ref": "#/components/schemas/Scan"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Brand ID not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectNotFoundException"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Missing or invalid API key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvalidApiKey"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - Brand monitoring requires PREMIUM subscription.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NonPremiumUserException"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - API rate limit exceeded.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQuotaExceededException"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error - Unexpected server-side error occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/chats": {
            "get": {
                "summary": "List Chat Sessions",
                "description": "Retrieves all chat sessions for the authenticated user. Chat sessions provide AI-powered analysis of scan results. PREMIUM users only.",
                "parameters": [{
                    "name": "page",
                    "in": "query",
                    "description": "Page number for pagination (1-indexed). Pages beyond the first require PREMIUM subscription.",
                    "required": false,
                    "schema": {
                        "type": "number",
                        "default": 1
                    }
                }],
                "operationId": "getChats",
                "responses": {
                    "200": {
                        "description": "Chat list retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Chat"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Missing or invalid API key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvalidApiKey"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - AI chat analysis requires PREMIUM subscription.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NonPremiumUserException"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error - Unexpected server-side error occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/chat": {
            "post": {
                "summary": "Create Chat Session",
                "description": "Initiates a new AI chat session for analyzing a specific scan. Supports both conversational responses (MARKDOWN) and structured data extraction (JSON). Processing occurs asynchronously; poll GET /v1/chat/{chat_id} for results. PREMIUM users only.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "prompt": {
                                        "type": "string",
                                        "description": "Your question or instruction for analyzing the scan results."
                                    },
                                    "response_type": {
                                        "type": "string",
                                        "description": "Response format: MARKDOWN for human-readable analysis or JSON for structured data extraction.",
                                        "enum": [
                                            "MARKDOWN",
                                            "JSON"
                                        ]
                                    },
                                    "scan_id": {
                                        "type": "string",
                                        "description": "Scan identifier to analyze. Scan must be in DONE status."
                                    },
                                    "json_output": {
                                        "type": "object",
                                        "description": "Schema definition for JSON response structure. Required when response_type is JSON. Defines the expected output format."
                                    }
                                },
                                "required": [
                                    "prompt",
                                    "response_type",
                                    "scan_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Chat session created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Chat"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Missing or invalid API key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvalidApiKey"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - AI chat analysis requires PREMIUM subscription.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NonPremiumUserException"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - API rate limit exceeded.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQuotaExceededException"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error - Unexpected server-side error occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Exception"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/chat/{chat_id}": {
            "get": {
                "summary": "Get Chat Session Details",
                "description": "Retrieves complete details for a specific chat session including the AI response. Check the status field; responses are available when status is DONE. PREMIUM users only.",
                "operationId": "getChat",
                "parameters": [
                    {
                        "name": "chat_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Unique chat session identifier."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Chat details retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Chat"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Chat ID not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObjectNotFoundException"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Missing or invalid API key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvalidApiKey"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - AI chat analysis requires PREMIUM subscription.",
[...]
